@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  button{
    @apply flex items-center justify-center w-[70px] h-10 border-[1px] border-black
  }
  .btn{
    @apply rounded hover:bg-green-900
  }
  .inpt{
    @apply rounded border-[1px] border-black w-72 h-10
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
